*{
  margin: 0;
  padding: 0;
}

body {
  font-family: KaiseiDecol-Regular;
  padding: 2px;
  font-size: 16px;
}

h1{
  font-size: 1rem;
}

img{
  max-width: 2000px;
}

.katalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  position: relative;
  display: block;
  overflow: hidden;
}

.card-title {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  pointer-events: none;
}

.card-title h1 {
  margin: 0;
}

.card-image {
  display: block;
  position: relative;
  z-index: 1;
}

.card-image img {
  display: block;
  width: 100%;
  height: auto;
}